.arbeidskrav-info{
  

  h2{
    font-size: 29px;
    padding: 2rem;
    margin: 0;
    color: var(--nav-bg);
  }

  p{
    padding: 1rem;
    margin: 0 3rem 0 3rem;
    border: 2px solid var(--nav-text);
    border-radius: 8px;
    text-align: left;
  }
}